@import '@/styles/global.scss';

.footer {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  position: relative;
  flex-wrap: wrap;

  .page-link {
    margin-right: 1rem;
  }

  .copyright {
    min-width: 1rem;
    margin-right: 1rem;
    display: flex;
  }

  .add-copyright {
    position: relative;
    font-size: .8rem;
    margin-bottom: .2rem;
  }
}