@import '@/styles/global.scss';

.footer {
  background-color: $fontColor;
  color: white;
  display: flex;
  padding:  1rem 2rem;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  gap: 1rem;
  flex-wrap: wrap;
  a {
    transition: all .25s ease-in-out;
    &:hover {
      color: $orange;
    }
  }

  a, p {
    text-align: center;
  }
}