@import '@/styles/global.scss';

.page-settings {
  height: calc(100vh - 4rem);
  background: white;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  position: fixed;
  padding-top: 1rem;
  top: 4rem;
  width: 12rem;
  transition: all .25s ease-in-out;
  display: grid;
  grid-template-columns: 1fr 1.75rem;
  z-index: 8;

  .open-button {
    text-align: right;
    padding-right: 0rem;

    button {
      transition: all .25s east-in-out;
      span {
        color: $orange;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  form {
    color: $fontColor;
    width: 100%;
    overflow-y: scroll;

    fieldset {
      border: none;
      padding-right: 0;
      overflow: hidden;
      label {
        display: block;
        margin-bottom: .2rem;
        font-size: .8rem;
      }
      input, textarea {
        color: inherit;
        padding: .5rem 0 .5rem .5rem;
        background-color: rgba(128, 128, 128, .2);
        width: 100%;
        border: 2px solid transparent;
        resize: none;
        font-family: inherit;
      }
      display: flex;
      flex-direction: column;
    }
  }
}