@import '@/styles/global.scss';

.header {
  width: 100vw;
  height: 4rem;
  display: grid;
  grid-template-columns: 7rem max-content 1fr;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.15);
  z-index: 10;
  &.editing {
    position: relative;
    z-index: unset;
    padding-left: 1rem;
  }

  .image-upload {
    label {
      min-height: 3.5rem;
    }
  }

  .text {
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 2rem;
    min-width: 10rem;
  }

  .links {
    display: grid;
    grid-auto-flow: column;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    padding-right: 2rem;
    position: relative;

    .mobile-add-link, .desktop-add-link {
      font-size: 1rem;
    }

    .mobile-add-link {
      display: none;
    }
 
    .page-link {
      font-size: 0.8rem;
      margin-right: 1rem;
      margin-top: .15rem;
      display: flex;
      &:hover {
        cursor: pointer;
      }
    }

    .add-link-modal {
      position: absolute;
      top: 3rem;
      right: 1rem;
      padding: 1rem;
      background: white;
      box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
      border-radius: 5px;
    }
  }

  .logo-container {
    height: 100%;
    width: 6rem;
    padding-left: .25rem;
  }

  .hamburger {
    display: none;
  }

  @media(max-width: 645px) {
    grid-template-columns: 4.5rem 1fr 2rem;
    .add-text {
      width: 67%;
    }
    .text {
      margin-left: 1rem;
    }
    .links {
      position: fixed;
      top: 4rem;
      z-index: 2;
      left: -105vw;
      transition: all .25s ease-in-out;
      background: white;
      display: block;
      width: 100%;
      padding-top: 3rem;
      padding-left: 2rem;
      height: calc(100vh - 4rem);
      &.open {
        left: 0;
      }
      &.editing {
        top: 8rem;
      }

      .desktop-add-link {
        display: none;
      }

      .mobile-add-link {
        display: block;
      }

      & > div {
        margin-bottom: 1rem;
      }

      .page-link {
        font-size: 1.1rem;
      }
    }

    .hamburger {
      display: block;
    }
  }

  @media(max-width: 440px) {
    .logo-container {
      width: 4.5rem;
      img {
        transform: translateY(5%) scale(1.1);
      }
    }
  
    .text {
      font-size: .8rem;
      margin-top: .25rem;
    }
  }

  @media(max-width: 350px) {
    grid-template-columns: 25% 50% 25%;
    gap: .5rem;

    .text {
      padding-left: 0rem;
    }
  }
}