@import '@/styles/global.scss';

.profile-form-page {
  display: grid;
  grid-template-columns: 1fr .7fr;
  min-height: calc(100vh - 6.8rem);

  .image-container {
    position: relative;
    overflow: hidden;
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      min-height: calc(100vh - 6.8rem);
    }

    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: $orange;
      mix-blend-mode: multiply;
      h1 {
        color: rgba(white, .4);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px rgba(white, .4);
        font-style: italic;
        font-size: 6rem;
        white-space: break-spaces;
        margin: 0;
      }
    }
  }
  
  .profile-form {
    padding: 2rem 3rem 3rem 3rem;
    background: white;
    color: $fontColor;
    width: 15rem;
    margin: 2rem auto 0 auto;

    .error {
      color: red;
      font-size: .8rem;
      margin-top: 1rem;
    }
  
    label {
      display: block;
      font-size: .8rem;
      &:not(.name) {
        margin-top: .4rem;
      }
    }
  
    input {
      color: inherit;
      border: none;
      padding: .5rem;
      background-color: rgba(128, 128, 128, .2);
      width: 13.5rem;
      margin: .3rem 0;
      border: 2px solid transparent;
    }
  
    .selected {
      background: $orange;
      color: white;
      width: fit-content;
      border-radius: 4px;
      padding: .2rem .5rem;
      font-size: .75rem;
      margin-bottom: .3rem;
      button {
        color: white;
        margin-left: 1rem;
      }
    }
  
    .save-button {
      margin-top: 2rem;
      display: flex;
      justify-content: flex-end;
    }
  }

  @media (max-width: 630px) {
    grid-template-columns: unset;
    grid-template-rows: min-content 1fr;

    .image-container {
      grid-row: 2;
      .image {
        min-height: unset;
      }
    }

    .profile-form {
      padding: 0rem 3rem 3rem 3rem;
    }
  }
} 
