.font-picker {
  height: 10rem;
  overflow: scroll;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  width: 10rem;
  padding: 1rem;
  button {
    display: block;
    width: 100%;
    text-align: left;
    &:hover {
      background: rgba(gray, .2);
    }
  }
}