@import '@/styles/global.scss';

.section {
  border: .2rem solid transparent;
  border-radius: .3rem;
  position: relative;

  &.editing {
    &:hover {
      border-color: $orange;
      cursor: pointer;
    }
  }
}