@import '@/styles/global.scss';

.block-container {
  overflow: hidden;
  border: .2rem solid transparent;
  border-radius: .3rem;

  &.image-text {
    height: 12rem;
  }

  &.icon-text-list {
    height: 11rem;
  }

  &.full-page-image-text, &.contact-form {
    height: 11rem;
  }

  &:hover {
    border-color: $orange;
    cursor: pointer;
  }

  .block-button {
    width: 100vw;
    transform: scale(.25) translate(-150%, -150%);
  }

  @media (max-width: 750px) {
    &.image-text {
      height: 18rem;
    }
    &.full-page-image-text, &.contact-form {
      height: 11rem;
    }
  }

  @media (max-width: 600px) {
    &.contact-form {
      height: 18rem;
    }
  }

  @media (max-width: 350px) {
    &.image-text {
      height: 20rem;
    }
    &.full-page-image-text {
      height: 13rem;
    }
  }
}