@import '@/styles/global.scss';

.block-container {
  overflow: hidden;
  border: .2rem solid transparent;
  border-radius: .3rem;

  &.header {
    height: 5rem;
  }

  &.footer {
    padding-top: 10rem;
  }
  
  &.image-text {
    height: 12rem;
  }

  &.icon-text-list, &.icon-text-row {
    height: 11rem;
  }
  
  &.two-column-text {
    height: 9rem;
  }

  &.full-page-image-text, &.contact-form {
    height: 11rem;
  }

  &:hover {
    border-color: $orange;
    cursor: pointer;
  }

  .block-button {
    width: 100vw;
    transform: scale(.25) translate(-150%, -150%);
  }

  @media (max-width: 750px) {
    &.image-text {
      height: 18rem;
    }

    &.footer {
      padding-top: 16rem;
    }

    &.full-page-image-text, &.contact-form {
      height: 11rem;
    }
  }

  @media (max-width: 600px) {
    &.contact-form, &.icon-text-row {
      height: 18rem;
    }
    &.two-column-text {
      height: 11rem;
    }
  }

  @media (max-width: 350px) {
    &.image-text {
      height: 20rem;
    }
    &.two-column-text {
      height: 15rem;
    }
    &.full-page-image-text {
      height: 13rem;
    }
  }
}