@import '@/styles/global.scss';

.icon {
  position: relative;
  color: black;

  .icon-modal {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 16rem;
    margin: auto;
    height: 23rem;
    padding: 1rem;
    background: white;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    text-align: left;

    .modal-contents {
      position: relative;
      a {
        font-size: .8rem;
        transition: all .25s ease-in-out;
        &:hover {
          color: $orange;
          cursor: pointer;
        }
      }

      label {
        width: 0;
        height: 0;
        display: block;
        overflow: hidden;
        color: black;
      }

      .input {
        color: inherit;
        border: none;
        padding: .5rem;
        background-color: rgba(128, 128, 128, .2);
        width: 9rem;
        margin: .3rem 0;
        border: 2px solid transparent;
        color: black;
      }

      .update-button {
        margin-bottom: .5rem;
      }
    }
  }
}
