@import '@/styles/global.scss';

.icon {
  position: relative;

  .icon-modal {
    z-index: 2;
    position: absolute;
    left: 0rem;
    top: 4rem;
    padding: 1rem;
    background: white;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
    border-radius: 5px;

    .modal-contents {
      position: relative;
      a {
        font-size: .8rem;
        transition: all .25s ease-in-out;
        &:hover {
          color: $orange;
          cursor: pointer;
        }
      }

      label {
        width: 0;
        height: 0;
        display: block;
        overflow: hidden;
      }

      input {
        color: inherit;
        border: none;
        padding: .5rem;
        background-color: rgba(128, 128, 128, .2);
        width: 9rem;
        margin: .3rem 0;
        border: 2px solid transparent;
      }

      .close-modal {
        position: absolute;
        right: 0rem;
        top: 0rem;
        background-color: rgba(0,0,0, .2);
        border-radius: 100%;
        width: 1rem;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: .78rem;
      }
    }
  }
}
