@import '@/styles/global.scss';

.section {
  padding-bottom: 3rem;
  color: $fontColor;
  width: 100%;
  h2 {
    text-align: center;
    padding: 0 4rem 0rem 4rem;
    font-size: 2rem;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .text {
      padding: 0rem 2rem 2rem 5rem;
      font-weight: lighter;
      max-width: 40rem;
      text-align: left;
      margin-bottom: 3rem;
  
      h3, p {
        margin-bottom: 2rem;
      }
    }
    .images {
      max-width: 32rem;
      padding-right: 2rem;
      .imageOne, .imageFour {
        height: 10rem;
        width: 31rem;
        object-fit: contain;
      }
      .imageTwo,.ImageThree {
        height: 10rem;
        width: 15rem;
        object-fit: contain;
      }
    }

    @media (max-width: 880px) {
      grid-template-columns: 1fr;
      .text {
        margin: 0 auto 3rem auto;
        padding: 0rem 2rem 2rem 2rem;
      }
      .images {
        margin: 0 auto 3rem auto;
      }
    }
    @media (max-width: 770px) {
      grid-template-columns: 1fr;
      padding: 0 4rem 0rem 4rem;
      .text {
        padding: 0;
      }
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      padding: 0 2rem 0rem 2rem;
      .text {
        padding: 0;
      }
      .images {
        padding-right: 0;
        .imageOne, .imageFour {
          height: auto;
          width: 100%;
          object-fit: contain;
        }
        .imageTwo,.ImageThree {
          height: auto;
          width: 50%;
          object-fit: contain;
        }
      }
    }
  }
  @media (max-width: 880px) {
    padding-bottom: 0;
  }
  @media (max-width: 600px) {
    h2 {
      padding: 0 2rem 0rem 2rem;
    }
  }
}