@import '@/styles/global.scss';

.button {
  border: 3px solid $orange;
  padding: .7rem;
  border-radius: 5px;
  color: white;
  transition: all .25s ease-in-out;
  margin: 0 .4rem;
  font-size: .8rem;
}
.modal {
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  padding: 1rem;
  background: white;
  border-radius: 5px;
  position: absolute;
  top: 0;
  z-index: 2;
  .inner-modal {
    position: relative;
    .label {
      display: block;
      width: 0;
      height: 0;
      overflow: hidden;
      margin: 0;
    }
    .input {
      color: inherit;
      border: none;
      padding: .5rem;
      background-color: rgba(128, 128, 128, .2);
      width: 10rem;
      margin-bottom: .5rem;
    }
  }
}