@import '@/styles/global.scss';

.home {
  padding: 5rem;

  @media (max-width: 600px) {
    padding: 3rem;
  }
  @media (max-width: 400px) {
    padding: 3rem 1.5rem;
  }

  h1 {
    line-height: 1.4;
    color: $fontColor;
    margin-bottom: 4rem;
  }

  .headlines-container {
    margin-bottom: 3rem;
    padding: 0 3rem;
    display: flex;
    justify-content: center;

    @media(max-width: 770px) {
      padding: 0;
    }

    .headlines {
      display: grid;
      grid-template-columns: 50% 50%;
      width: 100%;
      box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
      max-width: 50rem;

      @media (max-width: 600px) {
        grid-template-columns: 100%;
      }
  
      & > div {
        width: 100%;
        padding: 1rem 2rem;
        color: white;
  
        h2 {
          margin-top: 0;
          font-size: 2rem;
        }
  
        h4 {
          font-weight: lighter;
          margin: .5rem;
        }
  
        &.trainers {
          background-color: $fontColor;
        }
        &.clients {
          background-color: #dd940c;
        };
      }
    }

    .trainers, .clients {
      & > div {
        display: grid;
        grid-template-columns: 2.5rem 3fr;
        align-items: center;

        span {
          height: 2rem;
          width: 2rem;
          font-size: 28px;
        }
      }
    }
  }

  .coming {
    font-size: 1.5rem;
    font-weight: bold;
  }
}