@import '@/styles/global.scss';

.section {
  height: calc(100vh - 4rem);
  min-height: 600px;
  position: relative;
  width: 100%;
  .image {
    height: 100%;
    width: 100%;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 80% 50%;
    }
  }
 
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.2);
  }
  .text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    text-align: left;
    min-height: 10rem;
    align-items: center;
    padding-left: 5rem;
    z-index: 2;
    display: flex;
    width: 50%;

    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2.7rem;
    }
    h3{
      font-size: 2.4rem;
    }
    h4 {
      font-size: 2.1rem;
    }
    h4 {
      font-size: 1.8rem;
    }
    h5 {
      font-size: 1.5rem;
    }
    h6 {
      font-size: 1.1rem;
    }

    @media (max-width: 750px) {
      width: 75%
    }
    @media (max-width: 600px) {
      width: 100%;
      padding: 0 2rem;
    }
  }

  &.right {
    .text {
      left: unset;
      right: 0;
      padding-left: unset;
      padding-right: 5rem;
      text-align: right;
      @media (max-width: 600px) {
        width: 100%;
        padding: 0 2rem;
      }
    }
    .image {
      img {
        object-position: 20% 50%;
      }
    }
  }
}