body, p {
  margin: 0;
  padding: 0;
}

body, div, section {
  box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;

  transition: all .25s ease-in-out;
  cursor: pointer;
}

a {
  text-transform: none;
  text-decoration: none;
  color: unset;
}