body, p {
  margin: 0;
  padding: 0;
}

body, div, section, a, p {
  box-sizing: border-box;
}

section {
  max-width: 1500px;
  margin: auto;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;

  transition: all .25s ease-in-out;
  cursor: pointer;
  font-size: inherit;
}

a {
  text-transform: none;
  text-decoration: none;
  color: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}