.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .title {
    display: flex;
    align-items: center;
    img {
      width: 12vw;
      height: 12vw;
    }
  }
}