@import '@/styles/global.scss';

.button {
  border: 3px solid $orange;
  padding: .7rem;
  border-radius: 5px;
  background: $orange;
  color: white;
  transition: all .25s ease-in-out;
  margin: 0 .4rem;
  font-size: .8rem;
  &:hover {
    color: $orange;
    background: white;
  }
}