@import '@/styles/global.scss';

.header {
  width: 100vw;
  height: 4rem;
  display: grid;
  grid-template-columns: 7rem 1fr 1.25rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.15);
  background: white;
  z-index: 10;

  .check {
    color: green !important;
    font-weight: bold;
  }

  .sign-in {
    .sign-in-button {
      display: flex;
      align-items: center;
      font-size: .8rem;
      &:hover {
        color: $orange;
      }

      @media (max-width: 440px) {
        .sign-in-text {
          display: none;
        }
      }
    }

    .sign-in-modal {
      position: absolute;
      top: 4rem;
      left: -110vw;
      height: calc(100vh - 4rem);
      width: 100vw;
      .scrim {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
      .inner-modal {
        position: absolute;
        width: 20rem;
        height: 15rem;
        opacity: 0;
        transition: all .25s ease-in-out;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        background: rgba(223, 223, 223, 0.9);
        box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  
        .email-button {
          color: rgba($fontColor, .65);
          font-size: 0.9rem;
          font-weight: 600;
          box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3);
          width: 12.6rem;
          height: 2.5rem;
          filter: blur(0.3px);
          background: white;
        }
  
        button {
          width: 13rem;
          height: 3.5rem;
          position: relative;
          margin-bottom: .5rem;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      &.open {
        left: 0;
        .scrim {
          display: block;
        }
        .inner-modal {
          opacity: 1;
        }
      }
    }
  }

  .logo-container {
    height: 100%;
    width: 6rem;
    overflow: hidden;
    padding-left: .25rem;
  }

  p {
    font-size: 1.2rem;
    font-weight: 600;
    color: $fontColor;
  }

  @media(max-width: 440px) {
    grid-template-columns: 4.5rem 1fr 1.25rem 2rem;

    .logo-container {
      width: 4.5rem;
      img {
        transform: translateY(5%) scale(1.1);
      }
    }
  
    p {
      font-size: .8rem;
      color: $fontColor;
    }
  }
}