@import '@/styles/global.scss';

.header {
  width: 100vw;
  height: 4rem;
  display: grid;
  grid-template-columns: 7rem 1fr 8rem 8rem 1.25rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.15);
  background: white;
  z-index: 10;

  .check {
    color: green !important;
    font-weight: bold;
  }

  .page-link {
    color: $fontColor;
    transition: all .25s ease-in-out;
    font-size: 0.8rem;
    &:hover {
      color: $orange;
    }
  }

  .sign-in-button {
    display: flex;
    align-items: center;
    font-size: .8rem;
    &:hover {
      color: $orange;
    }

    @media (max-width: 440px) {
      .sign-in-text {
        display: none;
      }
    }
  }

  .logo-container {
    height: 100%;
    width: 6rem;
    overflow: hidden;
    padding-left: .25rem;
  }

  p {
    font-size: 1.2rem;
    font-weight: 600;
    color: $fontColor;
  }

  @media(max-width: 645px) {
    grid-template-columns: 7rem 1fr 1.25rem 2rem;

    .page-link {
      display: none;
    }
  }

  @media(max-width: 440px) {
    grid-template-columns: 4.5rem 1fr 1.25rem 2rem;

    .logo-container {
      width: 4.5rem;
      img {
        transform: translateY(5%) scale(1.1);
      }
    }
  
    p {
      font-size: .8rem;
      color: $fontColor;
    }
  }
}